<%= form_for :gossip, url: gossip_path(@gossip.id) , class: "m-5", method: :put do |form| %>
  <%= form.text_field :content, class: "form-control p-3", value: @gossip.content %>
  <div id="register-btn-container">
    <%= form.submit "Edit", class: "btn btn-success w-25 my-4" %>
  </div>
<% end %>
<%= link_to_gossips %>